.movie-detail {
  display: flex;
  justify-content: center;
  padding: 10% 5%;
  width: 90%;
}

.movie-detail__text {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width: 60%;
}

.img-box {
  width: 40%;
}

.movie-detail__img {
  border-radius: 10%;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
  width: 100%;
  height: auto;
}

.movie-detail__title-box {
  display: flex;
  width: 100%;
}

.movie-detail__title {
  font-size: 3vw;
  width: 80%;
  text-align: left;
  font-weight: 700;
}

.movie-detail__info {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: flex-end;
  justify-content: center;
}

.movie-detail__rating {
  font-size: 2.5vw;
  color: rgb(228, 187, 36);
  display: flex;
}

.fa-star {
  margin-right: 5px;
}

.movie-detail__runtime {
  font-size: 2.2vw;
  opacity: 0.5;
  margin-top: 3px;
  text-align: right;
}

.movie-detail__summary {
  font-size: 2vw;
  opacity: 0.8;
  width: 100%;
  margin-top: 10%;
}
