.navigation {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

.navigation a {
  font-size: 3vw;
  font-weight: 700;
}

.navigation a + a {
  margin-left: 8%;
}

a {
  text-decoration: none;
  color: inherit;
}
